<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pocketchef1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application

        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_grapes_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.pocketchef1">
        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths">
            </meta-data>
        </provider>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.pocketchef1" />
        <activity
            android:name=".homePage"
            android:exported="true"
            android:theme="@style/Theme.pocketchef1"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".signIn"
            android:exported="true"
            android:theme="@style/Theme.pocketchef1" />
        <activity
            android:name=".createMeal"
            android:exported="true"
            android:theme="@style/Theme.pocketchef1" />
        <activity
            android:name=".LandingPage"
            android:exported="true"
            android:theme="@style/Theme.pocketchef1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>